language: scala
jdk:
- openjdk8

before_install:
  - git fetch --tags

stages:
  - name: test
  - name: release
    if: ((branch = master AND type = push) OR (tag IS present)) AND NOT fork

jobs:
  include:
    - name: compile
      script: sbt compile
    - name: formatting
      script: sbt scalafmtCheck scalafmtSbtCheck
    # run ci-release only if previous stages passed
    - stage: release
      script: sbt ci-release
